<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= college %></title>
    <link rel="icon" href="https://kinsta.com/wp-content/uploads/2022/04/express-1.png" type="image/png">
</head>
<body>
    <%= name %>
    <h2><%= 2*2 %></h2>
</body>
</html>